*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

.container {
    display: grid;
    gap: 1rem;
    margin: auto;
    max-width: 80rem;
}

.row {
    display: grid;
    grid-template-columns: 2rem 10rem 1fr 5rem;
    grid-template-rows: 10rem 3rem;
    align-items: center;
    border: 1px solid black;
}

.cell {
    padding: 10px;
    border: 1px solid gray;
}

.index {
    text-align: right;
    padding: 0.5rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.image {
    text-align: center;
    width: 10rem;
    height: 10rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    height: 100%;
    grid-column: 3/4;
    grid-row: 1/2;
}

.qty {
    display: grid;
    grid-template-columns: 3rem 4rem 3rem;
    margin: auto;
    grid-column: 3/4;
    grid-row: 2/3;
}

.value {
    text-align: right;
    padding-right: 1rem;
}

.number {
    text-align: right;
    font-weight: bold;
    grid-column: 4/5;
    grid-row: 2/3;
}