* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-auto-rows: 290px;
    gap: 2px;
}

.item {
    width: 450px;
    height: 290px;
    border: 1px solid gray;
}