*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
}

:root {
    --header-height: 15rem;

    --header-top: 5rem;
    --logo-size: 3rem;
    --header-top-gap: 1rem;

    --header-middle: 5rem;
    --header-bottom: 5rem;
    --header__logo-font-size: 5rem;
    --footer-height: 5rem;
    --basket__image-size: 12rem;
    --color_transition: color 0.2s ease-out;
    --header__logo-color: #ff5a5a;
    --header__logo-color-dark: #db3d3d;
    --header-color: #c2c9c9;
    --main-color: #dadddd;
    --link_active-color: #1f1f81;
}

.Header {
    height: var(--header-height);
    background-color: var(--header-color);
    display: grid;
}

.Header__top {
    height: var(--header-top);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--header-top-gap);
    column-gap: var(--header-top-gap);
}

.Header__middle {
    height: var(--header-middle);
    background-color: lightgreen;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--header-top-gap);
    column-gap: var(--header-top-gap);
}

.Header_bottom {
    height: var(--header-bottom);
    background-color: lightyellow;
}

.Footer {
    height: var(--footer-height);
    background-color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.Main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--main-color);
    position: relative;
}